// OS2-farvepalette

$os2-green:       #3a7f3b;
$os2-dark-green:  #1b3c1c;
$os2-blue:        #3b6fb6;
$os2-light-blue:  #284b7b;
$os2-teal:        #2e767c;
$os2-dark-teal:   #194043;
$os2-light-brown: #b94c09;
$os2-brown:       #813506;