// Bredere indholdskolonne
$content-width: 80rem;

// Typografi
$body-font-family:
  "Open Sans",
  system-ui,
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  sans-serif;

// Brug den konkrete farve her
$link-color: #3a7f3b;